.item-details {
  display: flex;
  /* margin-top: 1rem; */
  flex-direction: row;
  padding: 1rem;
  background-color: rgba(68, 13, 74, 0.5);
  border: 2px solid rgba(84, 92, 202, 0.7);
}

.item-details .item-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.item-details .list-group-item {
  padding: .25rem;
  background-color: rgba(68, 13, 74, 0.5);
  border-color:  rgba(84, 92, 202, 0.7);
}

.item-details .list-group-item .term {
  margin-right: .5rem;
}

.item-details .error-button {
  margin: 20px 0 0 0;
}