.site-page {
  min-height: 100vh;
  background-image: url('./assets/images/space-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}