.item-list {
  border: 2px solid rgba(84, 92, 202, 0.7);
  background-color: rgba(68, 13, 74, 0.5);
}

.item-list .list-group-item {
  cursor: pointer;
  background-color: transparent;
}

.item-list .lds-css, .item-list .error-indicator {
  margin: 20px auto;
}

.item-list .list-group-item {
  border-top: 2px solid rgba(84, 92, 202, 0.7);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.item-list .list-group-item:first-child {
  border: none;
}

.item-list .list-group-item:hover {
  background-color: rgba(45, 26, 123, 0.7);
}

.item-list .list-group-item + .list-group-item {
  margin-top: -1px;
}